@page "/"
@page "/tasks"
@using TaskManager.Features.Tasks.Application.Models
@using TaskManager.Features.Tasks.Dtos
@using TaskManager.UI.Components.Common
@inject TaskManager.UI.Services.TaskApiService TaskService
@inject NavigationManager Navigation

<h3>Tasks List</h3>
<select value="@filterMode" @onchange="OnFilterChanged">
    <option value="@TaskFilterMode.Active">Active</option>
    <option value="@TaskFilterMode.Deleted">Deleted</option>
</select>

@if (isLoading) {
    <p>Loading tasks...</p>
}
else if (tasks.Items.Count == 0) {
    <p>No tasks found</p>
}
else {
    @* <button @onclick="Test">
        TEST
    </button> *@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks.Items) {
                <TaskRow Task="@task"
                         OnCompleteCallback="@(() => CompleteTask(task.Id))"
                         OnDeleteCallback="@(() => DeleteTask(task.Id))"
                         OnRestoreCallback="@(() => RestoreTask(task.Id))"
                         OnDeletePermanentlyCallback="@(() => DeletePermanently(task.Id))" />
            }
        </tbody>
    </table>
    <a href="/tasks/create" class="btn btn-primary">
        Create Task
    </a>
}

@code {
    public enum TaskFilterMode
    {
        Active,
        Deleted
    }


    private PagedResult<ReadTaskItemDto>? tasks = new();
    private bool isLoading;

    private TaskFilterMode filterMode;

    private async Task OnFilterChanged(ChangeEventArgs e)
    {
        filterMode = Enum.Parse<TaskFilterMode>(e.Value!.ToString()!);
        await LoadTasks();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadTasks();
    }

    private async Task CompleteTask(int id)
    {
        await TaskService.CompleteTaskAsync(id);
        await LoadTasks();
    }

    private async Task DeleteTask(int id)
    {
        await TaskService.DeleteTaskAsync(id);
        await LoadTasks();
    }

    private async Task RestoreTask(int id)
    {
        await TaskService.RestoreTaskAsync(id);
        await LoadTasks();
    }

    private async Task DeletePermanently(int id)
    {
        await TaskService.DeleteTaskPermanentlyAsync(id);
        await LoadTasks();
    }

    private void TaskDetails(int id)
    {
        Navigation.NavigateTo($"/tasks/{id}");
    }

    private async Task LoadTasks()
    {
        isLoading = true;

        tasks = filterMode switch
        {
            TaskFilterMode.Deleted =>
                await TaskService.GetDeletedTasksAsync(),

            _ =>
                await TaskService.GetTasksAsync()
        };

        isLoading = false;
    }
}